# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [2]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [29]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [22]:

df.groupby("animal").mean()

        age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5

In [23]:
df.sort_values(by=["age","visits"])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
b    cat  3.0       3      yes
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [37]:
df.priority = df.priority.map({"yes":True,"no":False})
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [78]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.034663  0.681005  0.744560
1  0.614051  0.853697  0.442600
2  0.274686  0.331930  0.177792
3  0.379126  0.725821  0.254867
4  0.751043  0.632723  0.671787

In [80]:
df.mean(axis=1)

0    0.486743
1    0.636783
2    0.261469
3    0.453271
4    0.685184
dtype: float64

In [87]:
df - df.mean(axis=1)

          0         1         2   3   4
0 -0.452080  0.044222  0.483091 NaN NaN
1  0.127308  0.216914  0.181131 NaN NaN
2 -0.212057 -0.304853 -0.083677 NaN NaN
3 -0.107616  0.089038 -0.006602 NaN NaN
4  0.264300 -0.004060  0.410318 NaN NaN

In [89]:
df.mean(axis=0)

0    0.410714
1    0.645035
2    0.458321
dtype: float64

In [88]:
df - df.mean(axis=0)

          0         1         2
0 -0.376051  0.035970  0.286239
1  0.203337  0.208662 -0.015721
2 -0.136028 -0.313105 -0.280529
3 -0.031587  0.080786 -0.203454
4  0.340329 -0.012312  0.213466

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [90]:
(df - df.mean(axis=1)).mean(axis=0)
# 第0筆最小

0   -0.076029
1    0.008252
2    0.196852
3         NaN
4         NaN
dtype: float64

In [91]:
(df - df.mean(axis=0)).mean(axis=1)
#第3筆

0   -0.017947
1    0.132093
2   -0.243221
3   -0.051419
4    0.180494
dtype: float64

In [35]:
'''
Your Code
'''

/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

0